html,
body,
#root,
#root > div {
  height: 100vh;
  font-family: "Average", serif;
}

.animation {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10px;
}

@media (min-width: 800px) {
  .hoverable:hover {
    background: #90c73f !important;
    z-index: 1;
    position: relative;
    color: black !important;
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -webkit-transition: transform 0.6s ease-in-out;
    -moz-transition: transform 0.6s ease-in-out;
  }
  .animation {
    margin-top: 0px;
  }
}

.text-responsive {
  font-size: calc(75% + 1vw + 0.5vh);
}

.text-responsive2 {
  font-size: calc(75% + 0.5vh);
}
